<div class="columns is-vcentered">

</div>

<div class="columns is-vcentered content">
    <div class="column">
        <h1 class="title">Help to make climbing more connected!</h1>
        <p>Add your favorite places to the map!</p>
    </div>
</div>